<p id="notice"><%= notice %></p>

<p>
  <strong>Article location:</strong>
  <%= @wiki.article_location %>
</p>

<p>
  <strong>Article url:</strong>
  <%= @wiki.article_url %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
