<h1><%= place.name %></h1>
<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-<%= @counter %>" name="tab-group-1" checked>
       <label for="tab-<%= @counter %>">Tab One</label>
       <%@counter=@counter+1%>
       <div class="content">
           stuff
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-<%= @counter %>" name="tab-group-1">
       <label for="tab-<%= @counter %>">Tab Two</label>
       <%@counter=@counter+1%>
       <div class="content">
           stuff
       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-<%= @counter %>" name="tab-group-1">
       <label for="tab-<%= @counter %>">Tab Three</label>
       <%@counter=@counter+1%>
       <div class="content">
           stuff
       </div> 
   </div>
    
</div>